body {
	--default: #252525;
	--accent: #e58250;
	--drop: #fdfdfd;
}
body.dark-mode {
	--default: #fdfdfd;
	--accent: #e58250;
	--drop: #444241;
}

/** RESET **/

html,body { 
	padding: 0; margin: 0;
	transition: background-color .33s, color .33s, border-color .33s;
}

h1,h2,h3,h4,h5,h6 /* reset */ {padding:0; margin:0;}

/** FONTS **/

body {
	font-family: 'Quicksand', sans-serif;
	color: var(--default);
}

h1, h2, h3, h4, h5, h6 {font-family: 'Vollkorn', serif;}
h1 {}

a { font-weight: 700; text-decoration: none; color: var(--default); transition: color 1s; }
a:hover, a:focus { color: var(--accent); transition: color .33s; }

/** ***** **/

body {
    background-color: var(--drop);
    min-height: calc( 100vh );
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;
}

header , main , footer {display: block;}
main {flex-grow: 2;}

button#colormode {
	font-size: 24px;
	font-family: 'Material Icons';
	color: var(--drop);

	position: absolute; display: block;
	top: 0.5rem; right: 0.5rem;
	padding: .5rem;
	background: var(--default);
	border: none;
	border-radius: 2rem 0 2rem 2rem;
}
	button:hover, button:focus {
	background-color: var(--accent);
}

header {
    text-align: center;
	margin: 0 1em;
    padding: 0 0 2em;
    display: flex;
    flex-direction: column;
}

header nav {display: flex;font-size: 1rem;}
header nav a {
    padding: .25em;
    border-radius: 0 0 .5em .5em;
    transform: translateY(-.25em); 
    background-color: var(--default);
    color: var(--drop);
    filter: opacity(75%);
    transition: all .25s;
    box-shadow: 0 1px 5px #00000045;
}
header nav a:not(:last-child) {margin-right: .5em;}
header nav a:hover, header nav a:focus {
    color: var(--drop);
    background-color: var(--accent);
    transform: translateY(0em); 
    filter: opacity(100%);
    transition: all .25s;
}

header h1 {
    text-transform: uppercase; 
    font-size: 5rem; 
    margin-bottom: -.25em; 
    word-break: break-all;
    text-shadow: 0 3px 5px #00000040;
}
header span {font-weight: bold; font-size: 1.4em;}

main {
/*    background-color:rgba(0,0,0,.05);*/
    margin: 1em;
    text-align: center;
}

#descriptor {margin-bottom: 2em;}

.gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.gallery>a {
    display: block;
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
    margin: .75em;
    
    transition: transform .25s;
}

.gallery a:hover, .gallery a:focus {
    transform: translateY(-.25em);
}
.f1 {max-height: 200px;}
.f2 {max-height: 180px;}
.f3 {max-height: 150px;}

footer {
    background-color:darkseagreen;
    padding-bottom: .5em;
    height: calc(300px - .5em);
    background: 
        no-repeat url(images/footer-s.webp) right,
        repeat-x url(images/footer.webp) right;
}